# Site config file

type: hatpro

params:
  altitude: 108.
  longitude: 6.407
  latitude: 50.906

  # path to ABSCAL.HIS file
  path_to_cal: /data/obs/site/jue/tophat/calibration/LOG_TRANSFER/CALIB/

  # integration time for BL scans in seconds
  scan_time: 50.

global_specs:
  # A succinct description of what is in the dataset, composed of instrument type and site name
  title: HATPRO G5 MWR at Juelich, Germany

  # Versioning of the datasets (containing date and software version)
  history:

  # Where the original data was produced
  institution: University of Cologne

  # Miscellaneous Information about the dataset or methods used to produce it
  comment:

  # References that describe the data or methods used to produce it
  references:

  # Name of measurement station
  site_location: juelich

  # E-PROFILE instrument identifier. “A” if there is only one instrument on the station. Additional instruments are identified with the letters B, C, etc.
  instrument_id:

  # WIGOS Station identifier according to WIGOS convention
  wigos_station_id: 0-276-0-10508

  # Department responsible for the instrument
  principal_investigator: Institute for Geophysics and Meteorology (IGMK)

  # Instrument generation
  instrument_generation: G5

  # Specific to mainboard
  instrument_hw_id:

  # Name of network(s) that instrument may be part of
  network_name: ACTRIS

  # Name of campaign instrument may collect data for
  campaign_name:

  # List of files the data set is depending on
  dependencies:

  # Data license
  license:

  # Logbook repair/replacement work performed
  instrument_history:

  # Fabrication year of the infrared radiometer
  ir_instrument_fabrication_year:

  # Logbook repair/replacement work performed
  ir_instrument_history:

  # Fabrication year of the weather station
  met_instrument_fabrication_year:

  # Logbook repair/replacement work performed
  met_instrument_history:
