# Site config file

type: hatpro

params:
  altitude: 174.
  longitude: 24.288
  latitude: 61.844

  # path to ABSCAL.HIS file
  path_to_cal: /home/tmarke/Dokumente/ACTRIS/mwr_pro_actris/

global_specs:
  # A succinct description of what is in the dataset, composed of instrument type and site name
  title: HATPRO G5 MWR at Hyytiala, Finland

  # Versioning of the datasets (containing date and software version)
  history:

  # Where the original data was produced
  institution: University of Helsinki

  # Miscellaneous Information about the dataset or methods used to produce it
  comment:

  # References that describe the data or methods used to produce it
  references:

  # Name of measurement station
  site_location: hyytiala

  # E-PROFILE instrument identifier. “A” if there is only one instrument on the station. Additional instruments are identified with the letters B, C, etc.
  instrument_id: A

  # WIGOS Station identifier according to WIGOS convention
  wigos_station_id: XXX

  # Department responsible for the instrument
  principal_investigator:

  # Instrument generation
  instrument_generation: G5

  # Specific to mainboard
  instrument_hw_id:

  # Name of network(s) that instrument may be part of
  network_name:

  # Name of campaign instrument may collect data for
  campaign_name:

  # List of files the data set is depending on
  dependencies:

  # Data license
  license:

  # Logbook repair/replacement work performed
  instrument_history:

  # Fabrication year of the infrared radiometer
  ir_instrument_fabrication_year:

  # Logbook repair/replacement work performed
  ir_instrument_history:

  # Fabrication year of the weather station
  met_instrument_fabrication_year:

  # Logbook repair/replacement work performed
  met_instrument_history:
